<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="per" class="com.enjoy.example.cap01.Person">
        <property name="age" value="18"></property>
        <property name="name" value="tao"></property>
    </bean>


    <!--测试构造器循环依赖-->
    <bean id="a" class="com.enjoy.example.cap01.A">
        <constructor-arg ref="b"></constructor-arg>
    </bean>

    <bean id="b" class="com.enjoy.example.cap01.B">
        <constructor-arg ref="c"></constructor-arg>
    </bean>

    <bean id="c" class="com.enjoy.example.cap01.C">
        <constructor-arg ref="a"></constructor-arg>
    </bean>

</beans>